.inset
{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.condblock
{
 color: #FFF;
 display: inline-block;
 border: 1px solid black;
  border-radius: 5px;
 background: #8EBE5F;
 padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.param, .propparam
{
 color: #444;
 display: inline-block;
 border: 1px solid grey;
 border-radius: 3px;
 background: #FFF;
 padding: 3px;
}

.propparam
{
 background: #7878FE;
 border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
 color: #fff;
}

.op
{
 display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

#feedback
{
  padding: 5px;
}

.correct
{
   background: #beb;
   border: 2px solid #050;
   color: #050;
}

.wrong
{
   background: #ebb;
   border: 2px solid #500;
   color: #500;
}

